body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.container {
  background: white;
  width: 300px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}
