input {
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input.error-border {
  border-color: red;
}

input.success-border {
  border-color: green;
}

small {
  font-size: 0.85em;
}


